# News Scraper

News site: Get the news articles published on March 11-12. Decide which news site you want to get articles from. Make sure you get the following information:

- date
- title
- full article
- author

Save the datasets in JSON files.

### Importing

In [1]:
import json
import pandas as pd
from newsapi import NewsApiClient

# initialization
newsapi = NewsApiClient(api_key='350ea48cbdb44b44a414096f386c8e29')

date_from = '2022-04-21'
date_to = '2022-04-22'

articles = newsapi.get_everything(sources = 'bbc-news',
                                  from_param =  date_from,
                                  to = date_to,
                                  language = 'en',
                                  sort_by = 'relevancy',
                                  page=1)

with open('newsjson.txt', 'w') as outfile:
    json.dump(articles, outfile, indent=3)

### Reading the json file

In [2]:
pd.read_json('cheng_delacruz_api.txt')

   status  totalResults                                           articles
0      ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
1      ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
2      ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
3      ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
4      ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
5      ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
6      ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
7      ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
8      ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
9      ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
10     ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
11     ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
12     ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
13     ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
14     ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
15     ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
16     ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
17     ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
18     ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...
19     ok           430  {'source': {'id': 'bbc-news', 'name': 'BBC New...